<article> 
<h2>Now</h2>
  <span>28 JAN 2021</span>
  <ul> 
    <li>
      <strong>Reading</strong>: 51% <a href="https://en.wikipedia.org/wiki/The_Ministry_for_the_Future">The Ministry for the Future</a> by Kim Stanley Robinson
    </li>
    <li>
      <strong>Parenting</strong>
    </li>
  </ul>
</article>

